body {
	font-family: arial;
}

#sl-button-wrapper {
	position: relative;
	padding: 5px;
	width: 400px;
	margin: 0 auto;
}

.sl-control-button {
	width: 200px;
	box-shadow: 0 0 40px 3px rgba(0,0,0,0.4);
	padding: 25px 35px;
	margin: 20px auto 0px auto;
	font-size: 19px;
	
	text-align: center;
	font-family: arial;
	font-weight: 700;
	cursor: pointer;
	color: #46b9ab;
	background-color: #050f22;

	transition-property: width, height, background-color, color, padding, margin, box-shadow, font-size;
	transition-duration: 0.11s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
.sl-control-button.down {
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	padding: 20px;
	margin: 30px auto 0px auto;
	font-size: 17px;

}

.sl-delete-button {
	float: right;
	width: 40px;
	height: 40px; line-height: 40px;
	text-align: center;
	font-weight: 700;
	position: relative;
	top: 35px;
	cursor: pointer;
	background-color: #efefef;
	border: 1px solid #050f22;
}

#sl-create-button {
	position: relative;
	padding: 5px;
	width: 400px;
	margin: 0 auto 20px;
}
#sl-create-button>label {
	float: left;
	height: 24px; line-height: 24px;
	display: block;
	width: 200px;
}
#sl-create-button>input {
	height: 20px; line-height: 20px;
	display: block;
	width: 196px;
	border: 1px solid #050f22;
}
#sl-b-create {
	width: 200px;
	height: 30px;
	display: block;
	margin: 0 auto;
}

#sl-buttonString {
	position: relative;
	padding: 5px;
	width: 400px;
	margin: 0 auto 20px;
}
#sl-buttonString>label {
	display: block;
}
#sl-buttonString>input, #sl-buttonString>textarea {
	display: block;
	width: 100%;
}
#sl-buttonString>textarea {resize: vertical;}